<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title> Locadora de Veículos - Menu </title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"/>
        {% load static %}
        <link rel="icon"href="{% static 'images/favicon.ico' %}">
    </head>
    <body>
        <!-- Cabeçalho da Página -->
        <header class="m-auto">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="collapse navbar-collapse">
                    <h4>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="navbar-brand" href="" style="font-size: 24px">
                        {% load static %}
                        &nbsp <img src="{% static 'images/sob-rodas-icone.svg' %}" width="30" height="30" class="d-inline-block align-center" alt=""/>
                        &nbsp Sob-Rodas
                        </a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="dropdownAgencia" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" style="text-decoration: none">
                                Agências
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownAgencia" style="font-size: 12px">
                                <a class="dropdown-item" href="/agencias/cadastro/">Cadastrar uma Nova Agência</a>
                                <a class="dropdown-item" href="/agencias/">Listar Agências Cadastradas</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="dropdownCliente" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" style="text-decoration: none">
                                Clientes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownCliente" style="font-size: 12px">
                                <a class="dropdown-item" href="/clientes/cadastro/">Cadastrar um Novo Cliente</a>
                                <a class="dropdown-item" href="/clientes/">Listar Clientes Cadastrados</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="dropdownFuncionario" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" style="text-decoration: none">
                                Funcionários
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownFuncionario" style="font-size: 12px">
                                <a class="dropdown-item" href="/funcionarios/cadastro/">Cadastrar um Novo Funcionário</a>
                                <a class="dropdown-item" href="/funcionarios/">Listar Funcionários Cadastrados</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="dropdownVeiculos" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" style="text-decoration: none">
                                Veiculos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownVeiculos" style="font-size: 12px">
                                <a class="dropdown-item" href="/veiculos/cadastro/">Registrar um Novo Veículo</a>
                                <a class="dropdown-item" href="/veiculos/">Listar Veículos Registrados</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="dropdownVistorias" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" style="text-decoration: none">
                                Vistorias
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownVistorias" style="font-size: 12px">
                                <a class="dropdown-item" href="/vistorias/cadastro/">Efetuar uma nova Vistoria</a>
                                <a class="dropdown-item" href="/vistorias/">Listar Vistorias Efetuadas</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="dropdownSeguros" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" style="text-decoration: none">
                                Seguros
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownSeguros" style="font-size: 12px">
                                <a class="dropdown-item" href="/seguros/cadastro/">Registrar novo Seguro</a>
                                <a class="dropdown-item" href="/seguros/">Listar Seguros Registrados</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="dropdownContratos" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" style="text-decoration: none">
                                Contratos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownContratos" style="font-size: 12px">
                                <a class="dropdown-item" href="/contratos/cadastro/">Efetuar um novo Contrato</a>
                                <a class="dropdown-item" href="/contratos/">Listar Contratos Efetuados</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="dropdownPagamentos" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" style="text-decoration: none">
                                Pagamentos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownPagamentos" style="font-size: 12px">
                                <a class="dropdown-item" href="/pagamentos/cadastro/">Registrar um novo Pagamento</a>
                                <a class="dropdown-item" href="/pagamentos/">Listar Pagamentos Registrados</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="dropdownOpcoesExternas" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false" style="text-decoration: none">
                                Opções Externas (debug)
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownOpcoesExternas" style="font-size: 12px">
                                <a class="dropdown-item" href="/enderecos/cadastro/">Adicionar um Endereço</a>
                                <a class="dropdown-item" href="/enderecos/">Listar Endereços Adicionados</a>
                                <a class="dropdown-item" href="/cnh/cadastro/">Adicionar uma CNH</a>
                                <a class="dropdown-item" href="/cnh/">Listar CNHs Adicionadas</a>
                                <a class="dropdown-item" href="/pessoas/cadastro/">Adicionar uma Pessoa (abstrata)</a>
                                <a class="dropdown-item" href="/pessoas/">Listar Pessoas Adicionadas</a>
                                <a class="dropdown-item" href="/login/cadastro/">Adicionar um Login a um Funcionário</a>
                                <a class="dropdown-item" href="/login/">Listar Logins do Sistema</a>
                            </div>
                        </li>
                    </ul>
                        </h4>
                </div>
            </nav>
        </header>
        <!-- 1ª Seção da Página -->
        <div class="p-5 text-center bg-image"
             style="background-image: url('{% static 'images/background-menu-1.jpg' %}');
                    height: 400px;
                    margin-top: 60px">
            <div class="mask d-flex justify-content-center align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.2);">
                <div class="text-white">
                    <h1 class="mb-3">A Sob-Rodas está sempre com você!</h1>
                    <hr/>
                    <h4 class="mb-3">
                        Plataforma exclusiva para funcionários.
                    </h4>
                    <p style="font-size: 15px">Sendo desenvolvida por alunos da Universidade Federal do Agreste de Pernambuco (UFAPE) para a disciplina de Banco de Dados. Esta aplicação tem como fundamentos:</p>
                    <p style="font-size: 13px">o uso completo de um banco de dados relacional (neste caso, o MySQL);</p>
                    <p style="font-size: 13px">o desenvolvimento do conhecimento em bancos de dados pela prática em código;</p>
                    <p style="font-size: 13px">e a contemplação de conceitos sob organização e efetuação de projetos em grupo.</p>
                    <a class="btn btn-outline-light btn-lg" href="https://github.com/maxdavidsouza/sob-rodas" role="button">clique aqui para acessar nosso repositório no Github <img src="{% static 'images/github-icon.png' %}" style="width: 15px"/></a>
                </div>
                <p style="font-size: 15px; color: white">
                    Se quiser saber mais sobre as tecnologias utilizadas neste projeto, temos uma documentação disponível para download:
                    <a class="btn btn-outline-light btn-lg" href="https://drive.google.com/file/d/1P1OA7-dC1RBtmsFrfvK9uhhVT8N0i6B_/view?usp=drive_web&authuser=1" role="button">clique aqui para baixar</a>
                </p>
            </div>
        </div>
        <hr/>
        <!-- 2ª Seção da Página -->
        <div class="p-5 text-center bg-image"
             style="background-image: url('{% static 'images/background-menu-2.jpg' %}');
                    height: 768px;">
            <div class="mask d-flex justify-content-center align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.3);">
                <div class="text-white">
                    <h1 class="mb-3">Detalhes sobre a Plataforma</h1>
                    <hr/>
                    <h4 class="mb-3" style="font-size: 15px">
                        Esta plataforma ainda está sob desenvolvimento.
                        <p>Possuindo suporte à:</p>
                    </h4>
                    <p style="font-size: 13px">Gerenciamento de Agências | Coleção de Funcionários</p>
                        <p style="font-size: 13px">Catálogo de Produtos | Registro de Vistorias</p>
                        <p style="font-size: 13px">Checagem de Seguros | Acesso ao Registro de Pagamentos</p>
                    <a class="btn btn-outline-light btn-lg" role="button" style="font-size: 17px">Realize os testes utilizando a barra de ações acima.</a>
                </div>
            </div>
        </div>
        <!-- Footer da Página -->
        <footer class="bg-dark text-center text-white">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Copyright:
                <a class="text-white" href="https://www.instagram.com/ufape.oficial/">UFAPE</a>
            </div>
        </footer>
    </body>
</html>
